<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cyjb.Projects.JigsawGame.JigsawSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Cyjb.Projects.JigsawGame.JigsawSetting>
            <setting name="BackgroundAlpha" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="ThumbSize" serializeAs="String">
                <value>400, 300</value>
            </setting>
            <setting name="ThumbLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ShowBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Difficulty" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Shape" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="Renderer" serializeAs="String">
                <value>Effect</value>
            </setting>
            <setting name="ShowThumb" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowBorder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Anchor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Rotatable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Randomization" serializeAs="String">
                <value>0.3</value>
            </setting>
        </Cyjb.Projects.JigsawGame.JigsawSetting>
    </userSettings>
</configuration>
